@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-success fw-bold me-3">Hoşgeldin, @User.Identity?.Name!</span>
        </li>
        
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-page="/Hesap/GirisYap">Giriş Yap</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-warning text-dark fw-bold btn-sm mt-1 ms-2" asp-area="" asp-page="/Hesap/KayitOl">Kayıt Ol</a>
        </li>
    }
</ul>